---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Introduction</h1> -->

  <!-- <h2>Introduction</h2> -->

  <p>{{ site.description }}</p>

<figure style="width: 33%; float: right;">
  <img  src="{{ site.baseurl }}/assets/gif/pixel_python.gif" />
<!-- <figcaption>Fig 1: Pixel Python</figcaption> -->
</figure>
  <p>It aims to introduce you to using Python in both theoretical and experimental contexts through some common in-lab examples, like: 

  <ul>
  <li>Reading data from a photon counter</li>
  <li>Binning and smoothing data</li>
  <li>Finding the steady state of an open quantum system</li>
  <li>Making a publication-quality plot</li>
  </ul>

  </p>

<!-- It aims to prepare students to use Python as a general-purpose programming language in research, to be used both in theoretical and experimental contexts. Tasks like data taking/handling/analysis, generating publication-quality plots, solving differential equations,... will be covered, following the standards in the scientific community.
It consists of self-contained topics that focus on different tasks: Input/Output, plotting, data analysis and scientific computation. They can be coursed separately if required, according to the needs of each particular student. The course is delivered as a series of worked examples that can be used online or as part of the graduate course in Atomic and Molecular Physics. An experienced user will guide the students through the sections and the examples in morning/afternoon long tutorials, to help the students in understanding the tasks at hand, and support them in the usage of Python.
 -->

  <!-- <h3>What this is not?</h3> -->

  <p>This is <strong>not</strong> an introduction to programming nor Python. It is a prerequisite that you already have Python working on your computer along with the standard scientific computing libraries: Numpy, Scipy and Matplotlib. </p>

  <p>If you need help with Python or getting it installed there are many resources online, including the <a href="http://labs.physics.dur.ac.uk/computing/resources/python.php">Durham Physics Lab Guide to Python</a>. We&rsquo;ve listed more on the <a href="/resources/">Resources</a> page.</p>

  <p>The lectures are in four sections: I/O, Plotting, Data Analysis and Numerical Methods. Each section has an associated problem for you to test your understanding.</p>

  <h2>Lectures</h2>

  <h3>I/O</h3>

  <ol>
    <li>Pickling{% include nf.html %}</li>
    <li>Reading CSV{% include nf.html %}</li>
  </ol>

  <h3>Plotting</h3>

  <ol start="3">
    <li>Lineshape Analysis{% include nf.html %}</li>
  </ol>

  <h3>Data Analysis</h3>

  <ol start="4">
    <li>Smoothing and Binning{% include nf.html %}</li>
  </ol>

  <h3>Numerical Methods</h3>

  <ol start="5">
    <li><a href="http://nbviewer.ipython.org/urls/dl.dropbox.com/s/dddc53ru5mr555w/Numerics-Integrating_ODEs_1.ipynb">Integrating ODEs, Part 1</a></li>
    <li><a href="http://nbviewer.ipython.org/urls/dl.dropbox.com/s/ev98a3w2x7epuo8/Numerics-Integrating_ODEs_2.ipynb">Integrating ODEs, Part 2</a></li>
    <li>Integrating ODEs, Part 3{% include nf.html %}</li>
    <li><a href="http://nbviewer.ipython.org/urls/dl.dropbox.com/s/lkuf6taa1ute93v/Numerics-Integrating_ODEs_4.ipynb">Integrating ODEs, Part 4</a></li>

  </ol>

  <h2>Problems</h2>

  <ol>
    <li>I/O{% include nf.html %}</li>
    <li>Plotting{% include nf.html %}</li>
    <li>Data Analysis{% include nf.html %}</li>
    <li>Numerical Methods{% include nf.html %}</li>
  </ol>

</div>
